Title: <%= @post.title %> <br>
Content: <%= @post.content %> <br>
Categories: 
    <% @post.categories.each do |category| %>
    <%= category.name %>
    <% end %>
    <br>
Users:
    <ul>
       <% @post.comments.each do |comment| %>
        <li><%= comment.user.username %> says: <%= comment.content %></li>
       <% end %>
    </ul>

Comments:

    <ul>
        <%= form_for @post do |f|%>
            <%= fields_for :comments, @post.comments.build do |comment_field|%>
            <%= comment_field.text_field :content, id: "comment_content" %>

            <%= comment_field.collection_select :user_id, User.all, :id, :username %>
            <% end %>
            <%=f.submit%>
        <% end %>
    </ul>
