Title: <%= @post.title %> <br>
Content: <%= @post.content %> <br>
Categories: 
    <% @post.categories.each do |category| %>
    <%= category.name %>
    <% end %>
    <br>
Users:
    <ul>
       <% @post.comments.each do |comment| %>
        <li><%= comment.user.username %> says: <%= comment.content %></li>
       <% end %>
    </ul>

Comments:

    <ul>
        <%=form_for @post.comment_content%>

        <% end %>
    </ul>
