Title: <%= @post.title %> <br>
Content: <%= @post.content %> <br>
Categories: 
    <% @post.categories.each do |category| %>
    <%= category.name %>
    <% end %>
    <br>
Users:
    <ul>
       <% @post.comments.each do |comment| %>
        <li><%= comment.user.username %> says: <%= comment.content %></li>
       <% end %>
    </ul>

Comments:

    <%= form_for @post.comments.build do |f|%>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.text_field :content, id: "comment_content" %>

        <%= f.collection_select :user_id, User.all, :id, :username %>
        <%=f.submit%>
    <% end %>
